---
import Layout from '../layouts/Layout.astro'
import Profile from '../components/profile.astro'
import Projects from '../components/Projects.astro'
---

<Layout>
  <Profile />
  <div class='h-20'></div>
  <Projects />
</Layout>
