<div
  class='flex h-[10rem] justify-center text-center items-center poetsen-one-regular text-6xl relative animate-opacity'
>
  <h1 class='fadingEffect'>Eemeli Oksanen</h1>
</div>

<style>
  .animate-opacity {
    animation: opacity-animation 1s ease-out forwards;
    opacity: 0%;
  }

  @keyframes opacity-animation {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 1;
    }
  }

  .poetsen-one-regular {
    font-family: 'Poetsen One', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
