---
const { href } = Astro.props

const buttonClass =
  'text-5xl xl:text-4xl bebas-neue-regular dark:hover:text-indigo-400 hover:text-green-400 transition my-auto'
---

<div class='flex justify-center h-26'>
  <a {href} class={buttonClass}>
    <slot />
  </a>
</div>

<style>
  .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poetsen-one-regular {
    font-family: 'Poetsen One', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
