---
import TextField from './textfield.astro'
import { Image } from 'astro:assets'
import profilePic from '../assets/me.png'
---

<div class='max-w-7xl mx-auto'>
  <div
    class='grid md:grid-cols-4 md:grid-rows-1 grid-cols-1 grid-rows-2 mx-auto'
  >
    <div class='mx-auto'>
      <Image
        src={profilePic}
        alt='profile'
        width={250}
        height={250}
        class='rounded-full border-4 border-green-600 fade-in-2'
      />
    </div>
    <div class='col-span-3 fade-in-1'>
      <TextField>
        Hey! Welcome to my website, hope you'll enjoy your stay!
        <br />
        I am a mathematically oriented computer science student from Espoo, Finland.
        My interests include mathematics, theoretical computer science, web-development
        and ML/AI.
        <br />
        I am currently working as an assistant research scientist at the <a
          href='https://www.maanmittauslaitos.fi/en/research'
          class='text-green-500'
          target='_blank'>Finnish Geospatial Research Institute</a
        >. I am always open to messages, so don't be afraid to <a
          class='text-green-500'
          href='#contact'>contact me</a
        >!
      </TextField>
    </div>
  </div>
</div>
