---
import TextField from './textfield.astro'
import { Image } from 'astro:assets'
import profilePic from '../assets/me.png'
---

<script>
  import anime from 'animejs'

  anime({
    targets: '.fade-in-1',
    translateY: 50,
    opacity: [0, 1], // Animate from opacity 0 to opacity 1
    duration: 2000,
  })

  anime({
    targets: '.fade-in-2',
    translateY: 50,
    opacity: [0, 1], // Animate from opacity 0 to opacity 1
    duration: 2500,
  })
</script>

<div class='max-w-7xl mx-auto px-4'>
  <div class='grid sm:grid-cols-4 sm:grid-rows-1 grid-cols-1 grid-rows-2'>
    <div class='mx-auto'>
      <Image
        src={profilePic}
        alt='profile'
        width={200}
        height={200}
        class='rounded-full border-4 border-green-600 fade-in-2'
      />
    </div>
    <div class='col-span-3 fade-in-1'>
      <TextField>
        Welcome to my website! If you are interested in my <a
          class='text-green-600'
          href='/projects'>projects</a
        >, feel free to look at them.
      </TextField>
    </div>
  </div>
</div>
