---
import RepoCard from './RepoCard.astro'
import musescorePic from '../assets/musescorebot.png'
import openVaa from '../assets/openvaa.png'
import birdnest from '../assets/birdnest.png'
import { Image } from 'astro:assets'
---

<div class='max-w-7xl mx-auto' id='projects'>
  <div class='justify-center flex mb-10'>
    <h1 class='bebas-neue-regular justify-center text-5xl'>projects</h1>
  </div>
  <div class='grid gap-16'>
    <RepoCard
      name='OpenVAA - Voting Advice Application'
      url='https://github.com/OpenVAA/voting-advice-application'
      lang='TypeScript'
    >
      <div>
        Contributed to an open-source voting advice application over the course
        of half a year as a part of a university course. The project is
        organized by <a href='https://openvaa.org/' class='text-green-500'
          >OpenVAA</a
        >. Main technologies are Svelte, Strapi and Docker.
      </div>
      <Image slot='image' width='300' src={openVaa} alt={'openvaa-example'} />
    </RepoCard>
    <RepoCard
      name='Musescorescript'
      url='https://github.com/eemelioksanen/musescorescript'
      lang='Python'
      delay={0.1}
    >
      <div>
        A multithreaded web scraper script for downloading music sheets from
        musescore.com.
      </div>
      <Image
        slot='image'
        width='300'
        src={musescorePic}
        alt={'musescorescript-example'}
      />
    </RepoCard>
    <RepoCard
      name='Birdnest'
      url='https://github.com/eemelioksanen/birdnest'
      lang='JavaScript'
      delay={0.2}
    >
      <div>
        A web-application developed for the Reaktor summer intern applications
        2023. Frontend was done with React and Backend using Node.js.
      </div>
      <Image
        slot='image'
        width='300'
        src={birdnest}
        alt={'birdnnest-example'}
      />
    </RepoCard>
  </div>
</div>

<style>
  .bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
