---
import RepoCard from './RepoCard.astro'
import Icon from './Icon.astro'

const linkClass = 'text-green-500 transition-colors duration-300 dark:text-blue-500'
---

<div class='mx-auto max-w-7xl px-1 xl:px-0' id='projects'>
	<div class='mb-10 flex justify-center'>
		<h1
			class='bebas-neue-regular animate-opacity justify-center text-5xl transition-colors duration-300 dark:text-blue-50'
		>
			projects
		</h1>
	</div>
	<div class='grid gap-10 px-4 md:grid-cols-2'>
		<RepoCard
			name='OpenVAA - Voting Advice Application'
			url='https://github.com/OpenVAA/voting-advice-application'
			lang='TypeScript'
		>
			<div>
				Contributed to an open-source voting advice application over the course of half a year as a
				part of a university course. The project is organized by <a
					href='https://openvaa.org/'
					class={linkClass}>OpenVAA</a
				>. Main technologies used are Svelte, Strapi and Docker.
			</div>

			<Icon name='vote' slot='image' customClass='dark:fill-sky-200 fill-black ' />
		</RepoCard>
		<RepoCard name='FireMan Situational Awareness' lang='Python, TypeScript' delay={0.3}>
			<div>
				During the summers of 2023 and 2024 at <a
					class={linkClass}
					href='https://www.maanmittauslaitos.fi/tutkimus'>FGI</a
				>, I developed a real-time thermal drone image processing pipeline to monitor forest fires.
				The project had an emphasis on the backend, but I also developed a simple frontend for the
				software. The web-application can be viewed <a
					href='https://fireman.fgidronecloud.fi/'
					class={linkClass}>here</a
				>.
				<br />
				Main technologies include Apache Airflow, Apache HTTP server, CSC S3 cloud services, Docker and
				Linux.
			</div>

			<Icon slot='image' name='drone' customClass='dark:fill-sky-200 fill-black' />
		</RepoCard>
		<RepoCard
			name='Musescorescript'
			url='https://github.com/eemelioksanen/musescorescript'
			lang='Python'
			delay={0.1}
		>
			<div>A multithreaded web scraper script for downloading music sheets from musescore.com.</div>

			<Icon
				name='note'
				slot='image'
				customClass='dark:fill-sky-200 dark:stroke-sky-200 fill-black stroke-black'
			/>
		</RepoCard>
		<RepoCard
			name='Birdnest'
			url='https://github.com/eemelioksanen/birdnest'
			lang='JavaScript'
			delay={0.2}
		>
			<div>
				A web-application developed for the Reaktor summer intern applications 2023. Frontend was
				done with React and backend using Node.js.
			</div>

			<Icon slot='image' name='drone' customClass='dark:fill-sky-200 fill-black' />
		</RepoCard>
	</div>
</div>

<style>
	.animate-opacity {
		animation: opacity-animation 1s ease-out forwards;
		opacity: 0%;
	}

	@keyframes opacity-animation {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 1;
		}
	}

	.bebas-neue-regular {
		font-family: 'Bebas Neue', sans-serif;
		font-weight: 400;
		font-style: normal;
	}
</style>
