<div class='w-full flex mx-auto p-1'>
  <div
    class='w-full dark:bg-blue-300 bg-white transition-colors duration-300 rounded-xl shadow-2xl text-left quicksand text-xl p-4'
  >
    <slot />
  </div>
</div>

<style>
  .quicksand {
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
</style>
