---
import Navbar from '../components/Navbar.astro'
import Favicon from '../assets/favicon.svg'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href={Favicon.src} />
    <meta name='viewport' content='width=device-width' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'
      rel='stylesheet'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Navbar />
    <div class='h-10'></div>
    <slot />
  </body>
</html>

<style>
  body {
    background: rgb(222, 249, 226);
  }
</style>
